*{
    background-color: antiquewhite;
    font-family: 'Indie Flower', cursive;
    padding: 0;
    margin:0;
}
h1{
    margin: 40px;
}
#userinput{
    width: 350px;
    height: 40px;
    display: inline-block;
}
.btn{
    margin: 20px 5px;
}
.form-control{
    margin: 0 auto;
}
ul{
    list-style-type: none;
}