/*
div{
    text-align: center;
    max-width: 720px;
    margin: 0 auto;
}
*/
/*
a:any-link{
    color: brown;
}
a:hover{
    color: aquamarine;
}
a:visited{
    color: dimgray;
}
a:active{
    color: rebeccapurple;
}*/
a:link, a:visited{
    background-color: aqua;
    text-decoration: none;
/*    sets the size*/
    padding: 12px 25px;
    display: inline-block;
    color: white;
    border-radius: 7.5px;
}
a:hover{
    background-color: rosybrown;
}
a:active{
    background-color: red;
}